.env
__pycache__
*.pyc
.vdx_config
.vdx_state.json
/components/
/javasdk/
/custom_pages/
/translations/
.DS_Store
build_*.py
vscode-extension/node_modules/
build/
vdx_project/vdx.egg-info/
package-lock.json
vscode-extension/out/
*.vsix
